# Ignore virtual environment
venv/

# Ignore environment variables
.env

# Ignore Python cache
__pycache__/
*.pyc
chat_conversation.py
chat_with_gemini.py
gemini_connect.py
gemini_listModels.py
prompt_practice.py
structured_output.py
text_summarizer.py